body {
  background-color: #fafafa;
}

h1 {
  font-size: 24px;
  margin: 0;
}

p {
  font-size: 14px;
}

.content {
  background-color: #fff;
  max-width: 600px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
  padding: 30px;
}

input {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  font-size: 1.2em;
  width: 100%;
  padding: 8px;
}

button {
  width: 100%;
  background-color: #2096f3;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  margin-top: 10px;
}

.required {
  color: #f33;
  font-size: .9em;
  padding: 3px;
  background-color: #fee;
  font-weight: bold;
  border-radius: 4px;
}

.control {
  padding: 2px;
  margin-bottom: 3em;
}


label {
  display: block;
  margin-bottom: .5em;
}

@media only screen and (max-width: 600px) {
  .content h1 {
    font-size: 20px;
  }

  .content p {
    font-size: 12px;
  }

  .control {
    font-size: 12px;
  }

}